/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap'); */
/* @import url('/fonts/AokuPro-Regular.ttf'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AokuPro-Regular';
  src: url('./fonts/AokuPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@layer components {
  .connectBtn {
    @apply bg-transparent py-[10px] text-[13px] font-semibold px-[24px] rounded-none border-2 hover:border-white border-primary text-primary hover:text-white duration-300 ease-in-out;
  }

  .menuLinks{
    @apply hover:text-primary uppercase
  }
  .navLinks{
    @apply text-white uppercase
  }

  .altButton {
    @apply bg-white text-[#11101e] hover:text-white py-2 px-4 rounded-md border hover:border-white border-transparent duration-300 ease-in-out hover:bg-transparent;
  }

  .aMenu {
    @apply px-2 py-1 hover:text-[#47b7e7] rounded-md duration-300 ease-in-out uppercase;
  }

  
}
@media (max-width: 640px) {
  .mobile-video {
    @apply w-full h-[60vh] object-cover;
  }
}

.bg-black-gradient {
  background: linear-gradient(
    90.39deg,
    #ffffff -278.56%,
    #11101e -78.47%,
    #47b7e7 91.61%
  );
}
.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}
